@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import url('https://fonts.googleapis.com/css?family=Courgette');

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
  font-family: Century-Gothic;
  src: url('../fontes/Century\ Gothic.ttf') format('truetype');
}

@font-face {
  font-family: Glitten;
  src: url('../fontes/Glitten-Regular.ttf');
}

.f-glitten {
  font-family: Glitten;
}

/*[RESTYLE TAG]*/

* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
  font-family: Century-Gothic;
}

body, html {
  height: 100%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

/* ------------------------------------ */