@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import url('https://fonts.googleapis.com/css?family=Courgette');

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
  font-family: Century-Gothic;
  src: url('../fontes/Century\ Gothic.ttf') format('truetype');
}

@font-face {
  font-family: Glitten;
  src: url('../fontes/Glitten-Regular.ttf');
}

.f-glitten {
  font-family: Glitten;
}

/*[RESTYLE TAG]*/

* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
  font-family: Century-Gothic;
}

body, html {
  height: 100%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

/* ------------------------------------ */

a, a:hover{
  color: #000000;
}

button, input[type="submit"] {
	outline: none !important;
	border: none;
  padding: 5px 10px;
}

button:hover, input[type="submit"]:hover {
	cursor: pointer;
}

/* ------------------------------------ */

input[type="text"], input[type="number"]{
  padding: 5px 2.5px;
}

/* ------------------------------------ */

/*[OVERLAY/POPUP]*/

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 150;
}
.popup-content {
  position: relative;
  width: 600px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 22%);
  padding: 60px 40px;
}
.popup-content h3 {
  color: rgb(0, 0, 0);
  line-height: 1em;
  font-size: 2em;
  font-family: 'Poppins';
}
.popup-content p {
  font-weight: 300;
  padding-right: 15px;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .popup-content {
    flex-direction: column;
    width: 300px;
    height: auto;
  }

  .content {
    height: auto;
    text-align: center;
    padding: 0 20px 20px 20px;
  }

  .content p {
    padding: 0;
  }

  #btnClose {
    margin: 10px auto 0 auto;
    position: relative;
  }
}

/* ------------------------------------ */

.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 100;
}

/* ------------------------------------ */

/*[TITLE PAGE]*/

.bg-title-page {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  color: white;
}