@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import url('https://fonts.googleapis.com/css?family=Courgette');

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
  font-family: Century-Gothic;
  src: url('../fontes/Century\ Gothic.ttf') format('truetype');
}

@font-face {
  font-family: Glitten;
  src: url('../fontes/Glitten-Regular.ttf');
}

.f-glitten {
  font-family: Glitten;
}

/*[RESTYLE TAG]*/

* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
  font-family: Century-Gothic;
}

body, html {
  height: 100%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

/* ------------------------------------ */

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

/* ------------------------------------ */

/*[OVERLAY/POPUP]*/

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 150;
}
.popup-content {
  position: relative;
  width: 600px;
  height: 400px;
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 22%);
}
.img-box {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-box::before {
  content: '';
  position: absolute;
  height: 250px;
  width: 250px;
  background-color: #fff;
  border-radius: 50%;
}
.img-box img {
  position: relative;
  width: 250px;
  z-index: 1;
}
.content {
  position: relative;
  width: 300px;
  font-weight: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content h3 {
  color: rgb(0, 0, 0);
  line-height: 1em;
  font-size: 2em;
  font-family: 'Poppins';
}
.content p {
  font-weight: 300;
  padding-right: 15px;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .popup-content {
    flex-direction: column;
    width: 300px;
    height: auto;
  }

  .img-box {
    height: 100px;
    width: 100px;
    transform: translateX(100%);
  }

  .img-box img {
    height: 100%;
    width: 100%;
  }

  .img-box::before {
    height: 100px;
    width: 100px;
    padding-top: 20px;
  }

  .content {
    height: auto;
    text-align: center;
    padding: 0 20px 20px 20px;
  }

  .content p {
    padding: 0;
  }

  #btnClose {
    margin: 10px auto 0 auto;
    position: relative;
  }
}

/* ------------------------------------ */

.overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 100;
}
